body {
  max-width: 320px;
  margin: auto;
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  background-color: #000;
}

img {
  display: block;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: 'vandalust', sans-serif;
  color: #37ef37;
  text-align: center;
  font-size: 37px;
  line-height: 35px;
  font-weight: 400;
  margin: 0 0 50px;
  text-shadow: 0 0 25px#37ef37;
}

h2 {
  font-family: 'vandalust', sans-serif;
  color: #37ef37;
  text-align: center;
  font-size: 53px;
  line-height: 33px;
  font-weight: 400;
  margin: 0 0 40px;
  text-shadow: 0 0 25px #37ef37;
}

.middle h2 {
  font-size: 30px;
}

.dragon {
  max-width: 50%;
  position: relative;
  margin: 0 0 20px;
  z-index: -1;
  top: 85px;
  left: 50px
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
}

.container img {
  max-width: 50%;
  margin: auto;
}

p {
  color: #fff;
  text-align: center;
  font-size: 15px;
  margin: 0 40px;
  line-height: 14px;
  font-weight: 400;
}

hr {
  border: none;
}

h3 {
  color: #37ef37;
  text-align: center;
  font-size: 21px;
  margin: 30px 50px 0;
  line-height: 20px;
  font-style: italic;
}

h4 {
  color: #c6c6c5;
  text-align: center;
  font-size: 11px;
  line-height: 21px;
  margin: 40px 0 20px;
  font-weight: 300;
}

main h4 {
  color: #37ef37;
  font-size: 14px;
  margin: 5px 0 0 178px;
}

em {
  color: #c6c6c5;
  font-size: 11px;
  font-style: italic;
  font-weight: 300;
}

a {
  color: #c6c6c5;
}

.degradee {
  background: rgb(13,80,13);
  background: linear-gradient(0deg, rgba(13,80,13,1) 0%, rgba(0,0,0,1) 90%);
}

.degradee-2 img {
  margin: 20px 0 0;
}

.middle img {
  margin: 30px 0 0;
}

audio {
  width: 240px;
  height: 27px;
  margin: 8px 10px 20px;
}

audio::-webkit-media-controls-panel {
  background-color: #37ef37;
}

audio::-webkit-media-controls-mute-button {
  border-radius: 50%;
}

audio::-webkit-media-controls-play-button {
  border-radius: 50%;
}

audio::-webkit-media-controls-timeline {
  background-color: #37ef37;
  width: 30px;
  padding: 0 0 0 5px;
}

@font-face {
  font-family: "vandalust";
  src: local("vandalust"),
    url("VandalustGraffiti.woff") format("opentype");
}