body {
  max-width: 320px;
  margin: auto;
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  background-color: #000;
}

img {
  display: block;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

p {
  color: #fff;
  text-align: justify;
  text-align-last: center;
  font-size: 11px;
  margin: 0 40px;
  line-height: 13px;
  font-weight: 400;
}

hr {
  border: none;
}

h3 {
  color: #37ef37;
  text-align: center;
  font-size: 17px;
  margin: 30px 50px 0;
  font-style: italic;
}

h4 {
  color: #c6c6c5;
  text-align: center;
  font-size: 10px;
  line-height: 20px;
  margin: 40px 0 20px;
}

main h4 {
  color: #37ef37;
  font-size: 11px;
  margin: 10px 0 0 185px;
}

em {
  color: #c6c6c5;
  font-size: 9px;
  font-style: italic;
  font-weight: 300;
}

a {
  color: #c6c6c5;
}

.degradee {
  background: rgb(13,80,13);
  background: linear-gradient(0deg, rgba(13,80,13,1) 0%, rgba(0,0,0,1) 90%);
}

.middle img {
  margin: 30px 0 0;
}

audio {
  width: 250px;
  height: 30px;
  margin: 5px 10px 20px;
}

.container {
  display: flex;
  justify-content: center;
}

.youtube {
  max-width: 50%;
  margin: 0 0 30px;
}